{%load static%}
<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Forest Wiki</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css.bs/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
</head>
<body style="background-color: #373a3e;">
    <!-- Barra de navegaciónn -->
    <nav class="navbar navbar-expand-lg bg-dark" style="--bs-bg-opacity: .9;"> 
        <div class="container-fluid">
            <a id="logo" class="navbar-brand" href="#">THE FOREST WIKI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a id="barra_nav" class="nav-link" href="{% url 'inicio' %}">INICIO</a>
                  </li>
                  <li class="nav-item">
                    <a id="barra_nav" class="nav-link" href="#">FORO</a>
                  </li>
                  <li class="nav-item">
                    <a id="barra_nav" class="nav-link" href="#">DIRECCIÓN</a>
                  </li>
                  <li class="nav-item">
                    <a id="barra_nav" class="nav-link" href="#">REGISTRARSE</a>
                  </li>
                  <li class="nav-item">
                    <a id="barra_nav" class="nav-link" href="{% url 'iniciar_sesion' %}">INICIAR SESION</a>
                  </li>
                  <li class="nav-item">
                    <a id="barra_nav" class="nav-link" href="#">MI CUENTA</a>
                  </li>
                  <li class="nav-item">
                    <a id="barra_nav" class="nav-link" href="#">ADMIN</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="BUSCAR" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">BUSCAR</button>
                </form>
              </div>
            </div>   
    </nav>
    <!-- Contenido -->
    <div class="contenedor">
            <div class="imagen">
                <img src="{% static '/Imgs/bosque.jpeg' %}" class="img-fluid">
            </div>
            <div class="formulario">
                <fomr>
                    <p class="titulo_form">Bienvenido Ingresa tu Usuario</p>
                    <div class="text_form">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ejemplo@gmail.com" aria-describedby="emailHelp">     
                    </div>
                    <div class="text_form">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa contraseña">
                    </div>
                    <div  class="text_form" class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Mostrar contraseña</label>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Iniciar sesion</button>
                    </div>
                    
                </fomr>
            </div>
    </div>
    <!-- estos no necesitan static, de hecho, ponerles static generan mensajes de error en la consola, aunque todo corra bien-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>